
.BiggestBox
{
    background-color: #EFEEEE;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}


.myForm
{
    width: 100%;
    max-width: 80vw;
}


.ReviewContainer
{
    display: flex;
    width: 100%;
    max-width: 80vw;
    margin: auto;
    margin-top: 5%; 
    flex-direction: column;
    height: 60%;
    background-color: blueviolet;
    padding: 2%;
    border-radius: 25px;
    

}





.ReviewTitleContainer
{

    align-self: center;
    font-size: 2rem;
    grid-row: 1;
    
    flex:1;
    height: 5%;
    width: 100%;
    background-color: red;
    
}





.StarTextContainer
{
    display: flex;
    flex-direction: column;
    /* grid-row: 2; */
    align-self: center;
    
    

}

.submitBtn
{
    height: 5vh;
    width: 100%;
    align-items: left;
    display: flex;
    justify-content: left;
    cursor: pointer;
    margin:1%;

}




.ReviewTextContainer
{
    height: 80%;
    width: 1000px;
    display: flex;
    flex-direction: column;
    
    
}


.StarsContainer
{
    height: 20%;
}



button 
{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: 100%;
    background-size: 100% 100%;
    
}

.myReview
{
    width: 95%;
    margin: 1%;
    height: 10vh;
    font-size: 15px;
    border-radius: 20px;
    resize: none;
    height: 20vh;
    text-align: start;
    text-justify: auto;

}



.on {
color: yellow;
}
.off {
color: #ccc;
}





