

.mainBG {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.filterBox
{
  display: grid;
  grid-template-rows: 10% 10% 17% 17% 29% 17%;
  margin: 2%;
  margin-top: 5%;
  padding: 3%;
  overflow-y: auto;
  height: 75%;
  width: 86%;
  background-color: #D9D9D9;
  border-radius: 10px;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 5%;
}

.category
{
  font-size: 2vh;
}

.filterBoxTitle
{
  font-size:large;
  justify-self: center;
  align-self: center;
  height: 100%;
}

.filterTopBar{
  width: 100%;
  background-color: #EFEEEE;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 80%;
  padding-top: 3%;
  padding-bottom: 0%;
  font-weight: bold;
  font-size: 3.5vh;
}

