.mainBG {
  background-color: #EFEEEE;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

}

.filterBox
{
  display: grid;
  grid-template-rows: 4% 20% 20% 36% 20%;
  align-self: left;
  margin: 2%;
  margin-top: 5%;
  padding: 2%;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.button:active {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #000000;
  transition: 0.7s;
}