.split
{
    background-color: #EFEEEE;
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}

.filterbox
{
    order: 1;
    flex: 32%;
    position: f;
    top: 0s;
}

.restbox
{
    height: 100vh;
    order: 2;
    flex: 68%;
    width: 40%;
    overflow: auto;
} 

