.Box
{
    background-color: #EFEEEE;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.Tile
{
    display: flex;
    flex-direction: both;
    margin: 2%;
    background-color: #D9D9D9;;
    padding: 2%;
    border-radius: 10px;
    width:70%;
    height:26vh;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.parent 
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width:100%;
    
}



.restImages{
    grid-area: 1 / 1 / 5 / 2; 
    object-fit: cover;
    height: 100%;
    width: 100%; 
    margin:0px;
    padding:0px;
    /* border: 5px solid #3284bf; */
}

a {
    text-decoration: none;
    color:#3284bf;
    text-decoration: none;
    }

.Text{
    margin:0px;
    grid-area: 1 / 2 / 2 / 3;
    color: black;
    margin: 0%;
}

.stars
{
    margin:0px;
    grid-area: 2 / 2 / 3 / 3;
    align-self: left;
    align-self: flex-start;
}

.restLocation
{
    margin:0px;
    grid-area: 3 / 2 / 4 / 3;
    background-color: white;
    color:#3284bf;
    width: fit-content;
    height:fit-content;
    padding: 2%;
    border-radius: 1vh;
    align-self:center;
}

.typeDisplay{
    margin:1%;
    grid-area: 4 / 2 / 5 / 3; 
    height:fit-content;
    width:fit-content ;
    border-radius: 1vh;
    padding: 2%;
    align-self:flex-start;


    background-color: #3284bf;
    color: white;
}





