.Box
{
    background-color: #EFEEEE;
    display: flex;
    flex-direction: column;
    overflow-y: auto;


}



.Tile
{
    display: flex;
    flex-direction: both;
    margin: 2%;
    background-color: #D9D9D9;;
    padding: 2%;
    border-radius: 10px;
    width:70%;
    height:20vh;

}


.parent 
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width:100%;

    
}



.restImages{
    grid-area: 1 / 1 / 7 / 2;
    object-fit: cover;
    height: 100%;
    width: 100%; 
    margin:0px;
    padding:0px;
}

a {
    text-decoration: none;
    color:#3284bf;
    text-decoration: none;
    }

.Text{
    margin:0px;
    grid-area: 1 / 2 / 3 / 3; 
    
}

.stars
{
    margin:0px;
    grid-area: 3 / 2 / 5 / 3; 
    align-self: left;
}

.restLocation
{
    margin:0px;
    grid-area: 5 / 2 / 6 / 3; 

}

.typeDisplay{
    margin:0px;
    grid-area: 6 / 2 / 7 / 3;
}





