.Box
{
    background-color: #EFEEEE;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}



.Tile
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2%;
    background-color: #D9D9D9;;
    padding: 2%;
    border-radius: 10px;
}


.parent 
{
    display: grid;
    grid-template-columns: 40% 40% ;
    grid-template-rows: repeat(3, 0.75fr);
    
}



.restImages{
    grid-area: 1 / 1 / 4 / 2; 
    object-fit: cover;
    height: 100%;
    width: 100%; 
}


.Text{
    grid-area: 1 / 2 / 2 / 3; 
    
}

a {
    text-decoration: none;
    color:#3284bf;
    text-decoration: none;
    }

.typeDisplay{
    grid-area: 2 / 2 / 3 / 3;
}


.restLocation
{
    grid-area: 3 / 2 / 5 / 3;

}


