.mainBG {
  background-color: #EFEEEE;
  display: flex;
  flex-direction: column;
}

.filterBox
{
  display: grid;
  grid-template-rows: 4% 20% 20% 36% 20%;
  align-self: left;
  margin: auto;
  margin-top: 5%;
  padding: 2%;
  overflow-y: auto;
  height: 60vh;
  width: 100%;
  background-color: #d9d9d9;
  border-radius: 25px;
}
